<h1>Lista de Pedidos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Email</th>
    <th>Tipo de pagamento</th>
  </tr>

<% @pedidos.each do |pedido| %>
  <tr>
    <td><%=h pedido.nome %></td>
    <td><%=h pedido.endereco %></td>
    <td><%=h pedido.email %></td>
    <td><%=h pedido.tipo_de_pagamento %></td>
    <td><%= link_to 'Mostrar', pedido %></td>
    <td><%= link_to 'Editar', edit_pedido_path(pedido) %></td>
    <td><%= link_to 'Cancelar', pedido, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo pedido', new_pedido_path %>