<h1>Listing item_pedidos</h1>

<table>
  <tr>
    <th>Id produto</th>
    <th>Id pedido</th>
    <th>Quantidade</th>
    <th>Preço total</th>
  </tr>

<% @item_pedidos.each do |item_pedido| %>
  <tr>
    <td><%=h item_pedido.id_produto %></td>
    <td><%=h item_pedido.id_pedido %></td>
    <td><%=h item_pedido.quantidade %></td>
    <td><%=h item_pedido.preço_total %></td>
    <td><%= link_to 'Show', item_pedido %></td>
    <td><%= link_to 'Edit', edit_item_pedido_path(item_pedido) %></td>
    <td><%= link_to 'Destroy', item_pedido, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_pedido', new_item_pedido_path %>