<div id="produto-list">
<h1>Listando os produtos</h1>

<table>
 <% for produto in @produtos %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	
<td>
<%= image_tag produto.image_url, :class => 'list-image' %>
</td>

<td class="list-description"> 
  <dl>
    <dt><%=h produto.title %></dt> 
    <dd><%=h truncate(produto.description.gsub(/<.*?>/,''),
    :length => 80) %></dd>
  </dl> 
</td>

<td class="list-actions">
	<%= link_to 'Show', produto %><br/>
	<%= link_to 'Edit', edit_produto_path(produto) %><br/>
	<%= link_to 'Destroy', produto, 
	:confirm => 'Are you sure?', 
	:method => :delete %>
</td> 
</tr>
 <% end %>
</table> 
</div>

<br />

<%= link_to 'New product', new_produto_path %>