<h1>Editing usuario</h1>

<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :senha, 'Nova senha' %><br />
    <%= f.password_field :senha %>
  </p>
  <p>
    <%= f.label :confirmacao_de_senha, 'Confirmar nova senha' %><br />
    <%= f.password_field :confirmacao_de_senha %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @usuario %> |
<%= link_to 'Back', usuarios_path %>